dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
.stack-work/

*.fdb_latexmk
*.fls
*.log
*.synctex.gz

fun/src/lib/CCO/Core/AG.hs
fun/src/lib/CCO/HM/AG.hs
fun/src/lib/CCO/SystemF/AG.hs
